body {
  background: #fafafa;
}

.clearfix {
  padding-bottom: 10px;
}

/*Font Style*/
body p {
  line-height: 25px;
}

section h2 {
  text-align: center;
}

/*Buttons*/
.btn {
  padding: 10px 30px;
  border-radius: 25px;
  transition: ease .4s;
}
.btn:hover {
  padding: 10px 45px;
}

.btn-red {
  border: 2.5px solid #ce5b42;
  color: #fff;
}
.btn-red:hover {
  background: #ce5b42;
  color: #fff;
}


/*Jumbotron*/
.jumbotron {
  color: #fff !important;
  background-image: url(../images/workspace-splash.jpg);
  background-size: cover;
  height: 600px;
  margin-bottom: 0;
  padding: 2em;
  text-shadow: 1px 1px 15px #000;
}

}
.jumbotron p {
  color: #fff;
  font-weight: 300;
}

.banner-text {
  margin-top: 150px;
  padding: 0 50px;
}

.banner-span {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 0;
}

.parralax {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Media Queries*/
@media screen and (max-width: 768px) {
  .banner-text {
    padding: 0;
  }
}

@media screen and (max-width: 414px) {
  .container {
    text-align: center;
  }
  .banner-text {
    margin-top: 0;
    padding: 0;
  }
  .jumbotron {
    height: 500px;
  }
}
