/*General CSS*/

body {
  background: #fafafa;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.5px;
}

a {
  color: #fff;
  text-decoration: none;
  transition: .2s;
  text-shadow: 1px 1px 15px #000;
  transition: background-position .3s linear;
}
a:hover{
  color: #379f9e;
  text-shadow: none;
}
a:focus {
  color: #379f9e;
  text-decoration: none;
}

.container.grey-block {
  background-color: rgba(200, 200, 200, 0.6);
  color: #333;
}

.project-title {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #333 50%, #379f9e 50%),
                    linear-gradient(to right, #379f9e 50%, #333 50%);
                    font-size: 40px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none;

}
.project-title:hover {
  background-position: -100% 0;
  color: transparent;
}

.col-mobile {
  display: none;
}
.clearfix {
  padding-bottom: 10px;
}

section {
  padding-top: 30px;
  padding-bottom: 60px;
}

.row {
  padding-top: 100px;
}

/*Font Style*/
body p {
  font-size: 17px;
  line-height: 27px;
}

h1, h2, h3 {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section h4 {
  font-family: "Montserrat";
  margin-top: 0;
}

.skill-content h3 {
  margin-top: 0;
}

/*Buttons*/
.btn {
  box-shadow: 7px 8px 20px #000;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-right: 10px;
  transition: ease .4s;
}
.btn:hover {
  padding: 10px 45px;
  box-shadow: 1px 3px 9px #000;
}

.btn-red {
  border: 2.5px solid #379f9e;
  color: #fff;
}
.btn-red:hover {
  background: #379f9e;
  color: #fff;
}

.btn-white {
  border: 2.5px solid #fff;
  color: #fff;
}
.btn-white:hover {
  background:#fff;
  color: #379f9e;
}

/*Background Colors*/
.darkgray {
  background: #333;
  color: #fff;
}
.green {
  background: #c5ddc5;
  color: #333;
}
.red {
  background: #379f9e;
}

/*Navigation*/
nav .container {
  padding-top: 10px;
}

.menu a {
  text-decoration: none;
}
.nav-desktop {
  background: linear-gradient(to top,transparent 0,rgba(0,0,0,.8) 55px,rgba(0,0,0,.8) 96px);
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: .4s ease;
}
.nav-mobile {
  background: linear-gradient(to top,transparent 0,rgba(0,0,0,.8) 55px,rgba(0,0,0,.8) 96px);
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: .2s ease;
  display: none;
}

.navbar-brand {
  font-family: 'Pacifico', roboto;
  padding: 5px 0 0;
  font-size: 30px;
  cursor: pointer;
  transition: .3s ease;
}
.navbar-brand:hover {
  font-size: 30px !important;
}

.nav-link {
  display: inline-block;
  padding: 0 30px;
  font-size: 22px;
}


.nav-link a {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #fafafa 50%, #379f9e 50%),
                    linear-gradient(to right, #379f9e 50%, #fafafa 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none;

}
.nav-link a:hover {
  background-position: -100% 0;
  color: transparent;
}

.nav-right{
  float: right;
}

.menu {
  float: right;
  font-size: 20px;
  position: sticky;
  z-index: 1;
  cursor: pointer;
}

#right-menu{
  box-shadow: -8px -2px 15px -10px #000;
  float: right;
  width:200px;
  height:100%;
  position:fixed;
  background:#333;
  right: -200px;
  top: 0;
}

#right-menu ul {
  margin:0px;
  padding:10px 0px;
  width:100%;
  list-style:none;
  position: absolute;
  top: 50px;
  text-align: center;
}

#right-menu li {
  letter-spacing: 3px;
  padding: 20px;
  text-align: left;
  text-transform: uppercase;
}

#right-menu a {
  text-decoration: none;
}

.sidenav-content {
  z-index: 1;
  position: absolute;
  top: 55%;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.sidenav-content a{
  color: #cacaca;
}
.sidenav-content a:hover{
  color: #379f9e;
}

.sidenav-content .col-sm-6 {
  text-align: center;
  font-size: 20px;
}

.sidenav-social {
  padding-bottom: 20px;
}

.disabled {
  color: #cacaca !important;
}
.disabled:hover {
  color: #cacaca !important;
  cursor: not-allowed;
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
}

/*Footer*/
footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
}
footer p {
  margin-bottom: 0;
}
.copyright {
  float: left;
}

/*Jumbotron*/
.jumbotron {
  color: #fff !important;
  background-image: url(../images/workspace-splash.jpg);
  background-size: cover;
  height: 700px;
  margin-bottom: 0;
  padding: 2em;
  text-shadow: 1px 1px 15px #000;
  text-align: center;
}

}
.jumbotron p {
  color: #fff;
  font-weight: 400 !important;
}

#about .container {
  padding: 10px 25px 20px;
}

@media(min-width: 1300px) {
  .jumbotron {
    height: 950px;
  }
  #about .container {
    margin-top: 200px;
  }
}

.banner-text {
  margin: 200px auto 0;
  max-width: 750px;
}

.banner-span {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 0;
}

.parallax {
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Images*/
.content {
  position: relative;
  /* width: 90%; */
  max-width: 600px;
  margin: 0 auto 40px;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  height: auto;
  width: 100%;
}
.content-image-mobile {
  height: auto;
  width: 100%;
  display: none;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

@media (max-width:767px) {
  .content-image {
    display: none;
  }
  .content-image-mobile {
    display: block;
  }
  .col-mobile {
    display: block;
  }
}

/*Icons*/
.about-icon img{
  border-radius: 50%;
  transition: .9s ease-in-out;
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}
.about-icon img:hover{
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.social {
  float: right;
}

.social a {
  color: #fff;
  transition: ease .3s;
  text-decoration: none;
}

.social a:hover {
  color: #379f9e;
}

.social .fa {
  font-size: 30px;
  padding-left: 10px;
}

.skill-icon {
  width: 100%;
  font-size: 45px;
  text-align: center;
}

/*Fade Animation*/
.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.max-800 {
  max-width: 800px;
}

.max-900 {
  max-width: 900px;
}

.center {
  text-align: center;
}

#about {
  background: transparent;
  color: #fff;
  position: absolute;
  width: 100%;
  top: 850px;
  /* text-shadow: 1px 1px 15px #000; */
}

#contact {
  background-position: center;
  background-size: cover;
  color: #fff;
}

#skills {
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
}

#skills:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(54, 115, 125,0.8);
}

#skills .container {
  position: relative;
  text-align: center;
}

.pill-group {
  padding: 0;
}
.pill-group li {
  background: #379f9e;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  list-style: none;
  padding: 5px;
  margin: 4px 2px 0 0;

}

/*Media Queries*/
@media screen and (max-width: 768px) {
  .banner-text {
    padding: 0;
  }
}

@media screen and (max-width: 414px) {
  /*font style*/
  section h1, h2 {
    margin-bottom: 0;
  }

  #about {
    top: 600px;
  }
  .banner-text {
    margin-top: 60px;
    padding: 0;
    text-align: center;
  }
  .container {
    text-align: center;
  }
  .jumbotron {
    height: 500px;
  }
  .sidenav-content {
    width: 100%;
  }
}

@media screen and (max-width: 375px){
  .jumbotron {
    height: 560px;
  }
}
